body {
    background-image: linear-gradient(to bottom , #ebf9fa , #c6ffec);
}

#game {
    display: flex;
    padding: 100px;
}

#board {
    flex-direction: column;
    padding-top: 100px;
    padding-left: 650px;
    
}

#rules {
    background-image: url('../images/Placeholder.svg');
    padding: 150px;
}

.chess-cell {
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid ;
}

.chess-cell:nth-of-type(8n+1) {
    clear: left;
}

.chess-cell-black {
    background-color: #9cbab2
    ;

}

.chess-cell-white {
    background-color: #d9eee7;
}

.chess-cell-black:active {
    background-color: #58595b;
}

.chess-cell-white:active {
    background-color: #aeb9b8;
}

/*teste*/
#victory {
    position:absolute;
    left:43%; /*43*/
    top:23%; /*23*/
    margin-left:-110px;
    margin-top:-40px;
}

h1{
    font: 10em sans-serif;
}

p {
    font: 3em sans-serif;
}

button{
    position:absolute;
    left:43%; /*43*/
    top:30%; /*23*/
    background-color: #cacfcf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}